DEVICE_ID = 'DEVICE_ID'
IP_ADDRESS = 'IP_ADDRESS'
LOCAL_KEY = 'LOCAL_KEY'
MAD_IP = 'REMOTE_MAD_IP'
MAD_PORT= 'REMOTE_MAD_PORT'
MAD_USERNAME = 'USERNAME'
MAD_PASSWORD = 'PASSWORD'
ALERT_TIME_MINUTES = 10
MAD_DEVICE_FILTER = 'FILTER'